<h3 style="margin-bottom: 20px;"> All FUNKO POPS <h3>

<% @funko_pops.each do |funko| %>
    <div class="funko-pop">
        <%= link_to funko.title, funko_pop_path(funko), class: 'funkopops_title' %>
    </div>
<% end %>